.drop-down > li{
    background-color: white;
    color: black;
    border: 1px solid  rgb(0, 169, 223);
    height: 10px;
    padding: 7px;
    list-style: none;
}
.drop-down > li:hover{
    color: white;
    background-color: #022D58;
}
.drop-down {
    position: absolute;
    z-index: 1;
    display: none;
    height: auto;
    /* top: 51%;
    right: 25%; */
}
.drop:hover .drop-down{
    display: block;
}

.menu-1{
    left: -2%;
}
.menu-2{
    left:6%;
}
.menu-3{
    
}
.menu-5{
    right:-9%;
}
.menu-6 {
    right: 23.8%;
    width: 165px;
    bottom: 33%;
}
.menu-6 > li:hover{
    background-color: rgb(0, 169, 223);
    color: white;
}
